.currently-playing.view {
  height: 100vh;
  flex: 1;
  background: #222222;
  padding: 32px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
    color: white;
    text-align: center;
    margin-bottom: 16px;
  }

  .album-cover {
    max-width: 100%;
    margin: 24px auto;
  }

  .track-info {
    text-align: center;

    .name {
      color: white;
      font-weight: bold;
    }
    .artist {
      color: grey;
    }
  }

  .track-controls {
    margin: 16px 0;

    @media (min-width: 768px) {
      width: 50%;
    }

    .bar {
      margin-bottom: 8px;
    }
  }
}

.view.currently-playing ~ .mobile-nav {
  bottom: 0;
}
