.library.view {
  .title {
    color: white;
    text-align: center;
  }

  .nav {
    display: flex;

    .nav-item {
      color: white;

      &:not(:last-child) {
        margin-right: 16px;
      }

      .link {
        padding: 8px 0;

        &.active {
          color: white;
          border-bottom: 2px solid green;
        }
      }
    }
  }

  .content {
    padding: 16px 0;

    .playlists {
      .playlist-item {
        display: flex;
        align-items: center;

        &:not(:last-child) {
          margin-bottom: 16px;
        }

        .art {
          width: 60px;
          height: 60px;
        }

        .info {
          margin-left: 8px;

          .name {
            color: white;
            font-weight: bold;
          }
          .creator {
            color: grey;
          }
        }
      }
    }
  }
}
