@import "../../../variables";

.sidebar {
  flex: 0.1;
  min-width: 230px;
  color: $color-white;
  background: #040404;
  padding: 24px;
  overflow-y: auto;

  @media (max-width: $breakpoint-tablet) {
    display: none;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  .logo-wrapper {
    display: block;
    margin-bottom: 24px;

    .logo {
      display: inline-block;
      vertical-align: middle;
      height: 40px;
    }
  }

  .section {
    margin-bottom: 24px;
    list-style: none;
    padding-left: 0;

    .section-title {
      text-transform: uppercase;
      font-size: 14px;
      font-weight: normal;
      letter-spacing: 1px;

      padding-bottom: 8px;
      border-bottom: 1px solid #282828;
      margin-bottom: 8px;
    }

    &.your-library,
    &.menu-items {
      li {
        font-weight: bold;
      }
    }
  }
}
