.song-item {
  color: white;
  display: flex;
  flex-direction: row;
  padding: 8px;
  align-items: center;
  transition: 0.2s;
  cursor: pointer;

  &.playing .track-info .text .title,
  &.playing .track-info .duration,
  &.playing .icon.play {
    color: #1db954;
    border-color: #1db954;
  }

  a:hover {
    text-decoration: underline;
  }

  &:hover {
    background: rgba(0, 0, 0, 0.7);
  }

  .track-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;

    .track-art {
      padding: 0 16px;
    }

    .number {
      margin: 0 8px;
    }

    .title {
      font-weight: bold;
    }

    .artist-album {
      display: flex;
      flex-wrap: wrap;

      span {
        padding: 0 8px;
      }
    }

    .enqueue {
      margin-left: auto;
    }

    .duration {
      min-width: 40px;
      text-align: right;
    }
  }

  .icon.play {
    padding: 4px;
    border: 1px solid white;
    border-radius: 50%;
  }
}
