.body {
  display: flex;
  height: calc(100vh - 96px);

  .main-content {
    padding: 32px;
    flex: 1;
    background: linear-gradient(rgb(91, 87, 115), rgba(0, 0, 0, 1));
    overflow-y: auto;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
