@import "../../../variables";

.body {
  display: flex;
  height: calc(100vh - 96px);

  .main-content {
    flex: 1;
    background: linear-gradient(rgb(91, 87, 115), $color-black);
    overflow-y: auto;
    position: relative;

    &::-webkit-scrollbar {
      display: none;
    }

    > .view {
      padding: 32px;

      @media (max-width: $breakpoint-tablet) {
        padding: 32px 16px 64px 16px;
      }
    }
  }
}
